/* ========================================
   VARIABELEN
======================================== */

:root {
  --void-black: #080808;
  --bone: #f0efe7;
  --acid-lime: #c8ff00;
  --raw-silver: #aaaaaa;
  --dark-grey: #292929;
}

/* ========================================
   RESET
======================================== */

* {
  box-sizing: border-box;
}

body,
h1,
h2,
p {
  margin: 0;
}
